* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  padding: 1rem 30px;
  width: 100%;
}

.nav-dropdown {
  background-color: rgb(212, 96, 49);
  width: 100%;
  display: none;
  position: relative;
  text-align: center;
}

.nav-dropdown li {
  display: block;
  margin: 0 0 10px 0;
  padding: 8px;
}

ul li {
  display: inline-block;
  margin-left: 2.5rem;
}
a {
  list-style-type: none;
  text-decoration: none;
  color: cornsilk;
}
a:hover {
  color: rgb(148, 226, 60);
}
.mobile {
  display: none;
}
.burger {
  height: 1px;
  width: 20px;
  background-color: cornsilk;
  margin: 5px;
}

/* media queries */
@media only screen and (max-width: 650px) {
  .mobile {
    display: block;
    cursor: pointer;
  }
  
  .nav-list {
    display: none;
  }
}
